/* ==UserStyle==
@name           DD-WRT Trac Inspired Themes
@namespace      github.com/style-it-themes/dd-wrt-trac-inspired-themes
@description    Customizable dark themes for the DD-WRT SVN Trac
@author         Style-it Themes: the-j0k3r
@homepageURL    https://github.com/style-it-themes/dd-wrt-trac-inspired-themes
@supportURL     https://github.com/style-it-themes/dd-wrt-trac-inspired-themes/issues/new/choose
@updateURL      https://github.com/style-it-themes/dd-wrt-trac-inspired-themes/raw/main/dd-wrt-trac-inspired-themes.user.styl
@version        0.3.1
@license        MIT
@preprocessor stylus

@var checkbox sdetails     'Show style details'     1

@var select   cg_theme     'Preset themes toggle'   {

    'Custom colors   *' :  'custom-style'  ,
    'Dracula          ' :  'dracula'       ,
    'Duo Cocoa        ' :  'duo-cocoa'     ,
    'Material         ' :  'material'      ,
    'Material Darker  ' :  'material-dkr'  ,
    'Solarized Dark   ' :  'solarized-dark',
    'Twilight         ' :  'twilight'      ,
    'The Matrix       ' :  'the-matrix'    ,
    'Ubuntu           ' :  'ubuntu'        ,
}

@var color    cg_bg        'Custom background       ' #111a22
@var color    cg_fg        'Custom foreground       ' #f2f4ff
@var color    cg_ac        'Custom accent           ' #4f74e3

@var range    cg_sat       'Saturation of RGB colors' [0, -50, 40, 0.01]
@var range    cg_lig       'Lightness of gray colors' [0, -30, 30, 0.01]

@var text     b_hgwd       'Checkbox width/height   ' '.88rem'
@var text     transition   'Define transition value ' 'all 0.2s cubic-bezier( 0.3, 0, 0.5, 1)'

==/UserStyle== */
// Helpers.
rq        = unquote
stinfo    = 'DD-WRT Trac Inspired Themes v0.3.1'
copyright = '© 2021 Style-it-themes: the-j0k3r'
license   = 'MIT'
homeURL   = 'https://github.com/style-it-themes/dd-wrt-trac-inspired-themes'
t         = transparent
i         = !important
vendors   = official

// Convert colors to HSLA format.
// NOTE: This is done just for consistency of generated colors.
to_hsla(input) {
  $h = {}
  $h.hue = rq(split('deg', '%s' % ceil(hue(input), 2))[0])
  $h.saturation = ceil(saturation(input), 2)
  $h.lightness = ceil(lightness(input), 2)
  s('hsla(%s,%s,%s,1)', $h.hue, $h.saturation, $h.lightness)
}

// SVG-friendly colors mixin.
// NOTE: Compiler does not like HSLA format, so we convert back to HEX.
to_svg(input) {
  s('\%23%s', rq(substr(s('%s', convert(input)), 1, 6)))
}

// Color mixin.
// All colors: `c: fg bd bg`
// Only border-color: `c: 0 bd`
c(x, y = 0, z = 0, xi = 1, yi = 1, zi = 1) {
  if x != 0 && x != '_' {            color: xi is 0 ? x : x i }
  if y != 0 && y != '_' {     border-color: yi is 0 ? y : y i }
  if z != 0 && z != '_' { background-color: zi is 0 ? z : z i }
}

// SVG colors.
g(x, y = 0, xi = 1, yi = 1) {
  if x != 0 && x != '_' {   fill: xi is 0 ? x : x i }
  if y != 0 && y != '_' { stroke: yi is 0 ? y : y i }
}

// Border radius mixin.
rad() { border-radius: arguments }

// Box-shadow mixin.
b() { box-shadow: arguments }

// Color generator.
// NOTE: Fix the scope to avoid conflicts.
/{
  // Generator -> Color-schemes.
  ColorSchemes = {
    'custom-style'   : { BG:   cg_bg, FG:   cg_fg, AC:   cg_ac }
    'duo-cocoa'      : { BG: #28231f, FG: #ffdac2, AC: #dfb249 }
    'dracula'        : { BG: #282A36, FG: #f8f8f2, AC: #bd93f9 }
    'material'       : { BG: #263238, FG: #eeffff, AC: #82aaff }
    'material-dkr'   : { BG: #212121, FG: #eeffff, AC: #82aaff }
    'solarized-dark' : { BG: #002b36, FG: #fdf6e3, AC: #268bd2 }
    'twilight'       : { BG: #141414, FG: #f7f7f7, AC: #8f9d6a }
    'the-matrix'     : { BG: #000000, FG: #ffffff, AC: #00ff00 }
    'ubuntu'         : { BG: #2c071a, FG: #f2f1ef, AC: #ef7847 }
  }

  // Select active color-scheme.
  for color-scheme in ColorSchemes {
    if (color-scheme == cg_theme) {
      define('BG', ColorSchemes[color-scheme].BG, global)
      define('FG', ColorSchemes[color-scheme].FG, global)
      define('AC', ColorSchemes[color-scheme].AC, global)
    }
  }

  // Color values and hues.
  // NOTE: List with anonymous hashes.
  colors = (
    { key: bg, color:   BG } \
    { key: fg, color:   FG } \
    { key: v0, color:   AC } \
    { key: v1, hue:   0deg } \
    { key: v2, hue:  30deg } \
    { key: v3, hue:  60deg } \
    { key: v4, hue: 120deg } \
    { key: v5, hue: 180deg } \
    { key: v6, hue: 210deg } \
    { key: v7, hue: 270deg } \
    { key: v8, hue: 300deg } \
    { key: v9, hue:   0deg } \
  )

  // Alias colors.
  $bg = colors[0]
  $fg = colors[1]

  // Generate background colors.
  for num in 0..5 {
    $color = $bg.color
    if num == 1 {} // Skip base BG color.
    else if num == 0 { $color = darken($color, 10%) }
    else { $color = lighten($color, (num + 2) * num / 2%) }
    $color = to_hsla($color)

    $key = s('%s%s', $bg.key, num)
    $val = 'var(--%s-%s)' % (($bg.key) (num))
    define('$' + $key, $color, global)
    define('' + $key, $val, global)
  }

  // Generate foreground colors.
  for num in 0..5 {
    $color = $fg.color
    if num == 1 {} // Skip base FG color.
    else if num == 0 { $color = lighten($color, 10%) }
    else { $color = darken($color, (num + num / 1.25) * 5%) }

    $color = to_hsla($color)

    $key = s('%s%s', $fg.key, num)
    $val = 'var(--%s-%s)' % (($fg.key) (num))
    define('$' + $key, $color, global)
    define('' + $key, $val, global)
  }

  // Generate all other colors.
  for c, i in colors[2..length(colors)] {
    $sel  = colors[i + 2]

    for num in 0..9 {
      // Case for accent colors.
      if ($sel.key == v0) {
        $color = darken($sel.color, (80% - ((num + num / 3) * 7.5)))
        $color = darken($sel.color, (100% - (num + 3) * 7.5))
        $color = lightness($color, lightness($color) + num)
      }

      // Case for gray colors.
      else if ($sel.key == v9) {
        $color = hsl($sel.hue, 0%, 50% + cg_lig)
        $color = darken($color, (100% - (num + 2) * 17))
      }

      // Case for RGB colors.
      else {
        $hue   = $sel.hue
        $color = hsl($hue, 60% + cg_sat, 60% + cg_lig)
        $color = darken($color, (100% - (num + 2) * 7.5))
        $color = lightness($color, lightness($color) + num)
      }

      // Convert to HSLA format.
      $color = to_hsla($color)

      $key = s('%s%s', $sel.key, num)
      $val = 'var(--%s-%s)' % (($sel.key) (num))
      define('$' + $key, $color, global)
      define(''  + $key, $val, global)
    }
  }
}
@-moz-document regexp('https?://svn.dd-wrt.com.*(/.*)?') {
  // global section triggers and variables
  :root {
    // show style name/version/copyright
    // when inspecting the code or using compiled CSS this info is auto added now.
    --style-name: rq(stinfo)
    --copyright: rq(copyright)
    --license: rq(license)
    --home-url : rq(homeURL)

    // Generate CSS color variables.
    colors = (bg fg v0 v1 v2 v3 v4 v5 v6 v7 v8 v9)
    for color in colors[0..1] {
      for tone in 0..5 {
        { '--%s-%s' % ((color) (tone)) }: $ + color + tone
      }
    }
    for color in colors[2..length(colors)] {
      for tone in 0..9 {
        { '--%s-%s' % ((color) (tone)) }: $ + color + tone
      }
    }
    // remap generated accent colors + keep v09 as 1:1 AC
    shade = (dark(BG)) ? darken : lighten

    --v0-0: mix(shade(BG,  0%), AC, 90%)
    --v0-1: mix(shade(BG, 40%), AC, 80%)
    --v0-2: mix(shade(BG, 40%), AC, 70%)
    --v0-3: mix(shade(BG, 40%), AC, 60%)
    --v0-4: mix(shade(BG, 65%), AC, 50%)
    --v0-5: mix(shade(BG, 50%), AC, 40%)
    --v0-6: mix(shade(BG, 50%), AC, 30%)
    --v0-7: mix(shade(BG, 50%), AC, 20%)
    --v0-8: mix(shade(BG, 50%), AC, 10%)
    --v0-9: mix(shade(BG, 50%), AC, 0%)

    // rgba BG/AC vars
    --txt-shadow: darken(convert($bg0), 40%)
    --code-pr-bg: darken(convert($bg0), 30%)
    --rgba-bg2-1: rgba(convert($bg2), .1)
    --rgba-bg2-5: rgba(convert($bg2), .5)
    --box-shadow: rgba(convert($v09), .9)

    $font_family_1 = Arial, Verdana, 'Bitstream Vera Sans', Helvetica, sans-serif
    $font_family_2 = inherit
    $font_family_3 = sans-serif
    $font_family_4 = monospace
    $font_family_5 = Verdana, Arial, 'Bitstream Vera Sans', Helvetica, sans-serif
  }
  ::selection {
    background: v06
    color: v99
  }
  * {
    text-rendering: optimizeLegibility
  }
  html {
    max-width: 1000px
    margin: 0 auto
  }
  body {
    background: bg1
    color: v98
    margin: 10px
    padding: 0
    font: normal 14px Verdana, Arial, 'Bitstream Vera Sans', Helvetica, sans-serif
  }
  th {
    font: normal 14px Verdana, Arial, 'Bitstream Vera Sans', Helvetica, sans-serif
  }
  tr {
    font: normal 14px Verdana, Arial, 'Bitstream Vera Sans', Helvetica, sans-serif
  }
  h1 {
    font-family: $font_family_1
    margin: .15em 1em 0.5em 0
    :link {
      color: v08
      border: 0px solid t
    }
    :visited {
      color: inherit
    }
    &:hover {
      .anchor {
        visibility: visible
      }
    }
    &:target {
      background: v02
      box-shadow: none
      rad: 0
    }
    .first:link {
      color: v97
    }
  }
  h2 {
    font-family: $font_family_1
    font-weight: bold
    letter-spacing: -0.018em
    page-break-after: avoid
    &:target {
      background: v02
      box-shadow: none
      rad: 0
    }
    .trac-count {
      margin-left: .2em
      vertical-align: baseline
      color: v97
      font-size: 90%
    }
  }
  h3 {
    font-family: $font_family_1
    font-weight: bold
    letter-spacing: -0.018em
    page-break-after: avoid
    font-size: 14px
    :link {
      color: inherit
    }
    :visited {
      color: inherit
    }
    &:target {
      background: v02
      box-shadow: none
      rad: 0
    }
    .trac-count {
      margin-left: .2em
      color: v97
      font-size: 90%
    }
  }
  h4 {
    font-family: $font_family_1
    :link {
      color: inherit
    }
    :visited {
      color: inherit
    }
    &:hover {
      .anchor {
        visibility: visible
      }
    }
    &:target {
      background: v02
      box-shadow: none
      rad: .28em
    }
  }
  hr {
    border: none
    border-top: 1px solid bg4
    margin: 2em 0
  }
  address {
    font-style: normal
  }
  img {
    border: none
  }
  :link {
    text-decoration: none
    color: v09
    border-bottom: 0
    transition: transition
    &:hover {
      background-color: t
      color: v07
      box-shadow: none
      border-bottom: 0
    }
  }
  :visited {
    text-decoration: none
    color: v15
    border-bottom: 1px dotted bg4
    &:hover {
      background-color: t
      color: v95
    }
  }
  h5 {
    :link {
      color: inherit
    }
    :visited {
      color: inherit
    }
    :target {
      background: v02
      box-shadow: none
      rad: 0
    }
  }
  h6 {
    &:link {
      color: inherit
    }
    &:visited {
      color: inherit
    }
    &:target {
      background: v02
      box-shadow: none
      rad: 0
    }
  }
  .anchor {
    &:link {
      border: none
      color: v09
      font-size: .8em
      vertical-align: text-top
    }
    &:visited {
      border: none
      color: v97
      font-size: .8em
      vertical-align: text-top
    }
  }
  * {
    >.anchor {
      &:link {
        visibility: hidden
      }
      &:visited {
        visibility: hidden
      }
    }
    html {
      .suggestions {
        ul {
          height: 10em
        }
      }
    }
  }
  span {
    &:hover {
      .anchor {
        visibility: visible
      }
    }
    &:target {
      background: v02
      box-shadow: none
      rad: .28em
    }
  }
  .tracini {
    table.wiki {
      tbody {
        tr {
          :target {
            background: v02
          }
        }
      }
    }
    .tracini-option {
      border: none
      position: relative
      &:link {
        &:hover {
          background-color: t
        }
      }
      &:visited {
        &:hover {
          background-color: t
        }
      }
    }
    tr[id] {
      &:hover {
        .tracini-option {
          &:before {
            content: "\00b6"
            position: absolute
            display: block
            left: -1em
            width: 1em
            color: v97
            z-index: 1
          }
        }
      }
    }
  }
  input {
    margin: 2px
    font-family: $font_family_1
    font-size: 100%
    vertical-align: middle
    transition: transition
  }
  textarea {
    margin: .2em
    border: 1px solid bg4
    rad: .2em .2em 0 0
    &:focus {
      border: 1px solid v08
      b: 0 0 10px 0 v04
      outline: 0
    }
    &:hover {
      border: 1px solid v08
    }
  }
  select {
    margin: 2px
    font-family: $font_family_1
    font-size: 100%
    vertical-align: middle
  }
  .trac-button {
    margin: 2px
    vertical-align: middle
    background: bg4
    color: v98
    border: 1px solid bg4
    rad: .28em
    padding: .1em 1em .2em
    text-shadow: none
    box-shadow: none
    cursor: pointer
    &:hover {
      background: bg5
      text-shadow: none
      box-shadow: none
    }
    &:active {
      position: relative
      top: .1em
      left: .1em
    }
  }
  button {
    font-family: $font_family_1
    font-size: 100%
  }
  input[type='button'] {
    color: bg1
    rad: .28em
    padding: .1em .5em .2em
    text-shadow: none
    box-shadow: none
    cursor: pointer
    &:hover {
      text-shadow: none
      box-shadow: none
    }
    &:active {
      position: relative
      top: .1em
      left: .1em
    }
  }
  input[type='submit'] {
    rad: .28em
    text-shadow: none
    box-shadow: none
    &:hover {
      text-shadow: none
      box-shadow: none
    }
    &:active {
      position: relative
      top: .1em
      left: .1em
    }
  }
  input[type=reset] {
    rad: .28em
    text-shadow: none
    box-shadow: none
    &:hover {
      text-shadow: none
      box-shadow: none
    }
    &:active {
      position: relative
      top: .1em
      left: .1em
    }
  }
  .inlinebuttons {
    a {
      transition: transition
      &:active {
        position: relative
        top: .1em
        left: .1em
      }
      rad: .28em
      padding: 0 .4em .1em
      font-size: 70%
      box-shadow: none
      margin: 0 .1em .1em
      background: none
      color: v98
      &:hover {
        color: v98
        text-shadow: none
        box-shadow: none
      }
    }
    input {
      border: 1px solid bg4
      rad: .28em
      height: 1.5rem
      padding: 0 .4em .1em
      font-size: 70%
      margin-top: .4rem
      background: none
      box-shadow: none
      color: v98
    }
    .trac-button {
      border: 1px solid bg4
      rad: 1em
      height: 1.6em
      padding: 0 .4em .1em
      font-size: 70%
      box-shadow: none
      margin: 0 .1em .1em
      background: none
      color: v98
      cursor: pointer
      &:hover {
        background: v04
        color: v99
        text-shadow: 0 1px 0 bg0
        box-shadow: none
      }
    }
    input[type='button'] {
      text-shadow: 0 1px 0 bg0
      &:hover {
        background: v04
        color: v99
        text-shadow: 0 1px 0 bg0
        box-shadow: none
      }
    }
    input[type='submit'] {
      &[title*="reply" i], &[title*="edit" i] {
        font-size: 14px
        padding: 0 .6em 0
      }
      &:hover {
        background-color: v08
        border: 1px solid v09
        color: v99
        text-shadow: 0 1px 0 bg0
        box-shadow: 0 0 10px 0 v04
      }
    }
  }
  input.textwidget {
    border: 1px solid bg4
    rad: .28em
    padding: .25em .5em
    &:focus {
      border: 1px solid v09
      outline: 0
    }
  }
  option {
    border-bottom: 1px dotted bg5
  }
  fieldset {
    border: 1px solid bg4
    rad: .28em
    margin: 1em 0
    background: bg2
    box-shadow: none
    padding: 1em
    color: v98
    > legend.foldable {
      :link {
        color: v98
        font-size: 14px
        text-shadow: none
      }
      &:visited {
        color: v98
        font-size: 110%
        text-shadow: none
      }
    }
    &#columns.collapsed {
      height: 30px
      border: 1px solid bg5 i
    }
  }
  p.hint {
    color: v98
    font-size: 85%
    margin: .5em 0
    padding-left: 1em
  }
  span.hint {
    color: v98
    font-size: 85%
    font-style: italic
    margin: .5em 0
    padding-left: 1em
    vertical-align: middle
  }
  span.trac-datetimehint {
    color: v98
    font-size: 85%
    font-style: italic
    margin: .5em 0
    padding-left: 1em
  }
  p.help {
    color: v98
    font-size: 90%
    margin: 1em .5em .5em
  }
  legend {
    color: v97
    padding: 0 .6em
  }
  label {
    &.disabled { color: v97 }
    &.trac-textarea-hint { color: v95 }
  }
  .disabled {
    span.hint,
    p.help,
    legend,
    input,
    select {
      color: v97
    }
  }
  .readonly {
    span.hint {
      color: v97
    }
    p.help {
      color: v97
    }
  }
  .buttons {
    margin: .5em .5em .5em 0
    transition: transition
    form {
      display: inline
      div {
        display: inline
      }
    }
    input {
      margin: 1em .5em .1em 0
    }
  }
  .uisymbols {
    .inlinebuttons {
      input[type='button'],
      input[type='submit'],
      .trac-button a {
        font-size: 100%
        transition: transition
      }
    }
    #fieldhist {
      .inlinebuttons {
        a {
          font-size: 85%
        }
      }
    }
    div.system-message {
      .trac-close-msg {
        > span {
          display: none
        }
        &::after {
          content: '\0078'
        }
      }
    }
  }
  input[type='button'].trac-delete {
    color: v98
    &:hover {
      color: v98
    }
  }
  input[type='submit'].trac-delete {
    color: v98
    &:hover {
      color: v98
    }
  }
  .trac-button.trac-delete {
    color: v98
    &:hover {
      color: v98
    }
  }
  textarea.trac-fullwidth,
  #trac-comment-editor textarea {
    background: bg0
    color: v98
    box-shadow: none
    &:focus, &:focus-within {
      b: 0 0 10px 0 v04
    }
  }
  input.trac-fullwidth {
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin-left: 0
    margin-right: 0
    width: 100%
  }
  button.trac-fullwidth {
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin-left: 0
    margin-right: 0
    width: 100%
  }
  form.mod {
    margin: 1em 0
    .field {
      margin: .5em 0
      label {
        padding-left: .2em
      }
    }
    .field.description {
      margin-top: 1em
    }
    #changeinfo {
      .field {
        margin: 0.25em 0 0.75em 0
      }
      .options {
        padding: 0 0 0.5em 1em
      }
    }
  }
  #header {
    text-align: center
    #logo img {
      &[src*='trac_banner.png'] {
        prefix = 'data:image/png;base64,'
        path   = 'iVBORw0KGgoAAAANSUhEUgAAAkQAAACMCAMAAACqGkaYAAAAZlBMVEX///////8AqZb///8AqZb///8A'
        path  += 'qZb///8AqZb///8AqZb///8AqZb///8AqZb///////8AqZb///8AqZb///////8AqZb///8AqZb///8A'
        path  += 'qZb///8AqZb///8AqZb///8AqZb///+DpI5pAAAAIHRSTlMAEBEgIjAzQERQVWBmcHd3gIiQmZmgqrC7'
        path  += 'wMzQ3eDu8BJxKnwAAAnGSURBVHja7NK3dQMBDERBZFeDsr3+i5RE70DvyZlw8R6iX68GAAAAAAAAAAAA'
        path  += 'AACAJIduyRmH9HvO2pN2T7tnzdE5aff0e7Y1e3/YOo27mrkfa6odt+ZaWt+atZq1NnVb7T78yIhEJCIR'
        path  += 'iUhEIhKRiEQkIhGJSEQiEpGIRCQiEYlIRCISkYhEJCIRiUhEIhKRiEQkIhGJSEQiEpGIRCQiAACuNYxz'
        path  += 'P/d69HyICBEhIhEhIkSEiBCRiBARIkJEiEhE48JQn0FEIhKRiEQkIkQkIhGJSEQiEpGIEJGIRCQiEYlI'
        path  += 'RCKSioj+2DWDVsdhGAhjTDDGBEQgBBGM0f//k3t6u9pMtp60Pq373R40UxmNJUV9SxHV0y5UVSnpayJk'
        path  += 'SSK7qla741SVNVG5HyQk9sPOHaCa5+AeUvtBIZS8N3vFUQJE+x7/R2HZ1CiOgrkfKeSI9ptAXQLz9B7C'
        path  += 'L0mXUFK1Lk3mNBESt2o8tWDuBwo5dvtBmGNsF/1CPOO+o/4dStiN4ozzmQgJmz3kjJj7kUJYJRpTVdpF'
        path  += 'XZnDe8/5UMJpJG35mig1e0xbMPcDhIDjSVXJoB77D4krRD6UcD45xOwmKvYObYHcDxACkk9xD2w/a78Q'
        path  += 'Nf9hF4raA87JTVTsPVr2uR8kBLhcZqKbYXL547fgTbTaI2RqEyX7GB0oBGR+wMmGRH4pIP4Q1Ruy6SGS'
        path  += 'k0NEm3lamNhEoeEWbRcpCcgi+/3eRwcKIZXe2h2GbLzxwu1NqFv+hxEX8UeWiZeNh3nalkPHdBnf4XWY'
        path  += '0Ot+s9OvWQs9SalXRxMdLx3gdwB1XhNl2NoQlIq5HyaEtG5vQredf/zEbicjmqilB4upZVoTVSjIFCvk'
        path  += 'fpgQImRvOtwIXshn9stPJAlf3NlKts5qogS3jmRpPvfDhDpjWwtUN2uXP7hfPMBEjIecwjGriVxPL2/b'
        path  += 'z3SYUK9nCNXNtktZYhaNitGsVPwnbBNmM1GDoZVGfO6HCd0SmTH5MgZlJqDQrlZLOCnTU9GkJkrE791E'
        path  += 'AnSc0D07lLm+0xrRzwo4Jj0tRM6tYU4TCXFdiSuow4S671AnMaILbbwKn0n8mhKeSHOaiBscupnVYUL9'
        path  += 'd6DU72bxonr0i0hFS5xk9HFWE+FN/Gig0mFC/euu3VyecLjQtabgF21s9LObqJsabkWi44SIOtPriQV6'
        path  += 'delVwBbQROvXRA/7yP7RRKXDhKht9C1YdyI4m/ivyfQw9V8TJXbH3BlldZgQ03nj6/twsNUr3s3Q6elc'
        path  += '/TXRJ+PwL+rOeDlBnYniAREVyn4onwqI4vs/5b1zTWt6Rk6Sdung/mcbj2Pyc3eTbIJbe6MmFDIbr/3R'
        path  += 'DN9SBUxNsUvMO0IkIsMdTETkT2b4m9+NPQppQwR7H8xRja/2QS58eWq1bIhE5PSdi0FEPgwa8AMoZbZV'
        path  += '9t/LrfnXcpEWVFNXcCvSuxqNSKEN0RogUhAiz95lefLE+vSZxaYSAiBAdF0IRISMXoxjH3ePNQCR3Cht'
        path  += '6X5CZjsF0epXk7tOR4hDlLD9iCOOGKB1oLVuWodxtSHyk/F0R83da33qQJS2007L88mn9DVERgsiMxtE'
        path  += 'dAl6RMDwz7zqdqkQnbxgnGzL/T3A+idEHyz0tcYI0xmyt4UIp+zc5QB36+mFxnKZEHGGIEgVd2s3TJYy'
        path  += 'cRKb/RdENy5a3KkN6RtCRGIWhWUNcJGTSAuESNyMd2ISZlNk++qUowbkN1sLkbVvulsnzbaM9SLbp4hI'
        path  += '46D7dhDhwB+nJlqXgEkbxsalQpTakdynFIz2mcCQmXz+EDs5ELWQIWNYfPnBhfVq2btCZDrM38mCEH7D'
        path  += '3dTpbLNUiMQ6j2kwHg3Sz7i3Z2rFZ+PsTonbfjmjCa/2oEi0pvgrgEhBiEGErohP5RGWI6+VnB8ifzsy'
        path  += 'WgyzwqSPUU8Ns8Y2thA1RNS2fG0ZALuoxUYOEUan5GVx9Xl643YkK5cLggj9zEADnsVs63dE5quRhShj'
        path  += 'ojZKElfUQhhQGPtSEyITu/dRYn7j/V8FCfcSISq8jsjm082XR+Jm2XhA1DNR/sF7+/74ugc6pJ2aUFAB'
        path  += 'FM6pOtzAp14KdnMXC5GwjMha++BiD76FeJDBDUdE9J7zIDpo7eLXAJGCUPhuX+nNezBfSkhdyWIgwhwm'
        path  += 'DV9PCmtlIRJf8uRJ0W9vVpSGyQy6ooqWEOwAO5jlLReiFsaKWMuyJ6Qy88W+xqO2Bcj4iYjwqlY9ofjC'
        path  += 'A8yduTivtVWFqPsRRBh91CCy8TFzdvEJRH04RB0/sR5cX68nRA32PvAvB0/94ors1s4J0e5HEA18jsSa'
        path  += 'KkDUhkN0oAMQftJHTwjNz0TN+XUQrSY4nBuiOmxqev1LiDIPRKcQiDBhGH915lBPiBum0Thh4zO6CzJb'
        path  += 'LgqiLo4MjHy9KkRNOEQJvckj/PSznpDXcHkaHQ3TX2FurggR8Znn+AJzJEM9sVaBCJNSDAZR1453ikKx'
        path  += 'pwsOvno4TJoqdET6ECG8SdCP4hhHBk7eb+FTfGWISnaRSviNMIpCEWFiTDBYec6sXWHrZFaIAq9IStCF'
        path  += '8+Ua5mPCFxv1IMKLFsfKBNtuhLuplITiBqdy/VgZ8IY17pyoQwRS1srwk+xQlJH705xb/LaHJkR4a+5l'
        path  += 'F9g9cMVzpynEDVPpI48Z8GM/gB+bDyLYSa4DLohKAvfOELTBFPEbsKoQJVe8KvUn93VqCnHDTdWRZq/4'
        path  += 'ax+xmmRWiM5uf1SrV9/kgjduh+ziQ5rTxpeCqEL0+s7d7lBXLy8Ors9webO1Tk0odoV7F3Rq0mmFy0xz'
        path  += 'QlRid9T15mlV3Y34LJv/fb74P68nwtKenrkiqGBTgwgC2m+t0xWiNvFJo5c6sKOZHSIT9bwlgxDJ3Zfq'
        path  += 'nD4bSHh5rCpEGJbjbcQVDjWh8OVJzgT7imtViIhYoG0QIpPeePV93lrn8mzaFv5CfU2IcNsh3nbY4TpC'
        path  += 'xAgUfJNzzX2eOkTxXr4yCJF79ktEcjzucXMPXhTP6noRiHnOIY7G6EIE8+xoG0vscE0hj61Q5BobWDZz'
        path  += 'QhT/+6wNQhR67uyWhh9eHFJFiBQemnddY4crCsW7okOkS7iY+SEK/1mNO/MSItP6GcrDj8D2mVGGCDGq'
        path  += 'Y7LAsU6ww9WFouLTKtJ1lfNDxPsD+mACIiM+LvLn2Pb+s7L6EKGtq/MYNPDnMqEdriZErIt8qtkFo582'
        path  += 'RMRwQcy18Wi9EEL0aUK8UfthXCsagtA+N7NBBLbaVPUZHwJvbey6rq43K97hikLhE58qcs2m1IeIW7Kp'
        path  += 'D103fgO5O9fwECyEyFouIoJhzDkBDSfvT8hPY9Pyv4Lon/bgWAAAAABgkL/1LHZV/AAAAAAAAAAgneo2'
        path  += 'y9RVeRsAAAAASUVORK5CYII='
        background: s("url('%s%s') %s", rq(prefix), rq(path))

        background-size: 300px
        padding-left: 300px
        padding-top: 69px
        height: 0
        width: 0
        margin-top: .2rem
      }
    }
  }
  #banner {
    height: 3rem
  }
  .nav {
    margin-top: 0
    margin-bottom: 1rem
    ul {
      font-size: 10px
      margin: 0
      padding: 0
    }
    li {
      font-size: .7rem
      border-color: bg5
    }
    &#metanav {
      ul {
        text-align: center
        margin-top: -3.133rem
      }
      form.trac-logout {
        button {
          background: t
          font-family: font_family_2
          font-size: 100%
          color: v19
          border-bottom: .1rem dotted v98
          cursor: pointer
          &::-moz-focus-inner {
            border: 0
            padding: 0
          }
          &:hover {
            background-color: t
            color: v96
            box-shadow: none
          }
          &:active {
            position: static
          }
        }
      }
      .first {
        color: v96
      }
    }
  }
  #mainnav {
    border-color: t
    margin-top: 4rem
    box-shadow:none
    ul {
      text-align: center
      font-size: 12px
    }
    li {
      background: bg4
      border: 1px solid bg0
      font-size: 100%
      padding: .9em 0
      &:hover {
        border-width: 1px
      }
    }
    &.first {
      border-top-left-radius: .2em i
      border-bottom-left-radius: .2em i
      :link {
        border-top-left-radius: .2em
        border-bottom-left-radius: .2em
      }
    }
    &.last {
      border-top-right-radius: .2em
      border-bottom-right-radius: .2em
      margin-right: 0
      :link {
        border-top-right-radius: .2em
        border-bottom-right-radius: .2em
        margin-right: 0
      }
    }
    :link, :visited  {
      border-bottom: none
      box-shadow: none
      color: v98
      border-width: 1px
      padding: .9em 20px
      text-shadow: 0 1px 0 var(--txt-shadow)
      &:hover {
        background: t
        border-bottom: 4px solid v06
        color: v09
        box-shadow: none
        padding: .9em 20px
      }
    }
    .active {
      border-left: 1px solid bg0
      border-right: 1px solid bg0
      border-top: 0
      border-bottom: 0
      :link, :visited {
        background: none
        border-bottom: 4px solid v06
        color: v09
        text-shadow: -3px solid v99
        padding: .9em 20px
        text-shadow: 0 1px 0 var(--txt-shadow)
        &:hover {
          color: v98
          text-shadow: 0 2px 0 var(--txt-shadow)
        }
      }
    }
  }
  #banner form#search {
    padding-bottom: 4rem
    input, label {
      display: none
    }
  }
  #pagepath {
    display: none
  }
  #ctxtnav {
    ul {
      text-align: center
    }
    li {
      margin-top: 1rem
      color: v98
      ul {
        background: t
        color: v97
        border: 1px solid
        padding: 0
        display: inline
        margin: 0
      }
      li {
        padding: 0
        :link {
          padding: 0 1em
          &:hover {
            background: bg4
            color: v95
          }
        }
        :visited {
          padding: 0 1em
          &:hover {
            background: bg4
            color: v95
          }
        }
      }
    }
  }
  .trac-nav {
    font-size: 80%
  }
  .trac-topnav {
    font-size: 14px
  }
  .trac-workflow-graph canvas {
    filter: invert(.9) hue-rotate(180deg)
    mix-blend-mode: lighten
  }
  #altlinks {
    margin-top: 1em
    h3 {
      font-size: 14px
    }
    ul {
      list-style: none
      margin: 0
      padding: 0
    }
    li {
      border-right: 1px solid bg5

      :link {
        color: v96
        border: none
        font-size: 75%
        &:hover {
          color: v09
        }
      }
      &:visited {
        background-repeat: no-repeat
        color: v98
        border: none
      }
      a.ics {
        padding-left: 22px
      }
      a.rss {
        padding-left: 20px
      }
    }
    li.last {
      border-right: none
    }
  }
  #footer {
    color: v98
    font-size: 10px
    :link {
      color: v97
      &:hover{ color: v09 }
    }
    :visited {
      color: v86
    }
    hr {
      display: block
    }
    #tracpowered {
      &:hover {
        background: t
      }
      img {
        filter: invert(.9) hue-rotate(180deg) saturate(5)
        mix-blend-mode: lighten
      }
    }
    p {
      margin: 0
    }
    p.left {
      float: left
      margin-left: 1em
      padding: 0 1em
      border-left: 1px solid bg4
      border-right: 1px solid bg4
    }
    if (sdetails) {
      p.right {
        &::before {
          content: 'Styled by:' + stinfo + '\00A0\|\00A0'
          color: v97
        }
      }
    }
  }
  #diffrev, #jumprev, #jumploc {
    float: left
    margin: .5rem .2rem
  }
  #content {
    .paging {
      font-size: 110%
      .current {
        border: 1px solid v04
        background: v06
        color: v99
        padding: .1rem .3rem
        text-shadow: 0 1px 0 bg0
        b: 0 0 10px 0 v04
        rad: .2rem
      }
      :link {
        border: 1px solid bg5
        background: t
        color: v98
        padding: .1rem .3rem
        rad: .15rem
        text-shadow: 0 1px 0 bg0
        &:hover {
          background: v08
          color: v99
          border-color: v08
          text-shadow: 0 1px 0 bg0
        }
      }
      :visited {
        border: 1px solid bg4
        background: t
        color: v98
        padding: .1em .3em
        text-shadow: 0 1px 0 bg0
        &:hover {
          background: t
          color: v98
          border-color: bg4
          text-shadow: 0 1px 0 bg0
        }
      }
      .previous {
        a {
          font-size: 150%
          font-weight: bold
          border: none
          &:hover {
            background: t
            color: v98
          }
        }
      }
      .next {
        a {
          font-size: 150%
          font-weight: bold
          border: none
          &:hover {
            background: t
            color: v98
          }
        }
      }
    }
    &.search {
      // re-align this
      background: bg2
      border: 1px solid bg4
      text-align: center
      margin: 0 auto
      margin-top: -1rem
      padding: .6rem .3rem 0 1rem
      max-width 21rem
      rad: .28em
      .filters {
        color: v97
        margin: 0 0 0 -7.7rem
      }
      hr {
        border-color: bg5
      }
      #results {
        text-align: left
        max-width 900px
        margin: 0 auto
        dt a {
          color: v07
          &:hover { color: v09 }
        }
        dd {
          font-size: 100%
          line-height: 1.4em
        }
        .trac-author, .date {
          color: v46
        }
      }
      .trac-help {
        margin-top: 1rem
        font-size: 12px
      }
      // lets do away with the obvious
      // really cant be placed before without a lot of hacking
      h1 label[for="q"] {
        display: none
      }
    }
    &.changeset {
      margin: 0 auto
      max-width: 980px
       h1 {
        max-width: 870px
        margin: 0 auto
        font-size: 120%
        margin-bottom: 1rem
      }
      #overview {
        max-width: 900px
        margin: 0 auto
        #file-legend {
          margin-left: 0
        }
      }
    }
    &.ticket {
      margin-top: 1rem
      // fix images oveflowing out of bounds.
      .comment p a[href*='/attachment/'] img {
        max-width: 99%
      }
      .trac-nav a {
        font-size: 14px
        margin-right: -6px
        &#trac-up-attachments {
          padding-right: 5px
          border-right: 2px solid v02
        }
        &#trac-up-view {
          margin-left: -1px
        }
      }
    }
    &.timeline {
      margin: 0 auto
      max-width: 880px
      h1 {
        font-size: 120%
      }
      #prefs {
        &[action="#"] {
          padding: 1rem 1rem 1rem
          margin-right: 0
          margin-top: 4.5333rem
        }
      }
      dt.highlight {
        background-color: bg4
        border: 1px solid bg5
        rad: .2em
      }
    }
    &.roadmap {
      h1 { display: none }
      form#prefs {
        display: none
      }
    }
    &.browser {
      width: 900px
      margin: 1rem 0
      h1 {
        font-size: 120%
        .pathentry:not(.first) {
          background: var(--code-pr-bg)
          r: .2em
        }
      }
      .pathentry {
        &.sep {
          color: v97
        }
      }
    }
    &.log {
      h1 {
        font-size: 120%
        .pathentry:not(.first) {
          background: var(--code-pr-bg)
          r: .2em
        }
      }
    }
    &.report {
      margin: 0 auto
      max-width: 880px
    }
    &.query {
      fieldset#filters {
        tr.actions {
          td.or {
            text-align: left
          }
        }
      }
    }
    &.prefs {
      margin: 0 auto
      max-width: 910px
      h1 {
        max-width: 900px
        margin: 0 auto
        font-size: 120%
        margin-bottom: 1rem
      }
      p {
        max-width: 900px
        margin: 0 auto
      }
    }
    &.about {
      max-width: 900px
      margin: 0 auto
    }
    &.narrow #trac-wiki-expander {
      margin-top: .2rem
      &::before {
        content: '\01F81E'
        font-size: 1.4rem
      }
    }
    #trac-wiki-expander {
      margin-top: .2rem
      &::before {
        content: '\01F81C'
        font-size: 1.4rem
        color: v98
      }
    }
    h1, h2, h3, h4, h5, h6 {
      color: fg1
      &.section {
        background: t
        border-bottom: 1px solid bg5
        color: v97
        padding: .3em .3em .2em .5rem
        &:target {
          background: bg4
          box-shadow: none
          rad: .2em
          border-color: t
          margin-left: -1.6rem
          padding: .1em 0 .1em .5rem
        }
      }
      code {
        color: v69
      }
      .numresults {
        color: v98
        font-size: 90%
      }
    }
    &.prefs {
      #tabs li {
        background: v04
        border-color: v06
        border-bottom: 1px solid t
        padding: .5em 2em .4em
        rad: .28em .26em 0 0
        margin-top: .09em
        transition: transition
        text-shadow: 0 1px 0 bg0
        &.active {
          background: bg2
          border: 1px solid bg5
          border-bottom: 1px solid t
          color: v99
          rad: .28em .26em 0 0
          &:hover {
            background: bg2
            border: 1px solid bg5
            border-bottom: 1px solid t
            color: v99
            margin-top: .09em
            rad: .28em .26em 0 0
          }
        }
        &:hover {
          background: v04
          border: 1px solid v06
          border-bottom: 1px solid t
          color: v99
          margin-top: 0
          rad: .28em .26em 0 0
        }
        :link {
          color: v99
          &:hover {
            color: v99
          }
        }
      }
      #tabs :link {
        &:hover {
          border-color: bg4
          color: v97
        }
      }
      #tabcontent {
        background: bg2
        border: 1px solid bg4
        padding: 15px 10px 15px 10px
        margin-bottom: .5rem
        rad: .28em
      }
    }
    &.wiki {
      max-width: 910px
      margin: 0 auto
    }
    &.login {
      background: bg2
      border: 1px solid bg4
      margin: 0 auto
      margin-top: -1rem
      padding: .6rem .3rem 0 1rem
      max-width: 10rem
      rad: .28em
      h1 { font-size: 17px }
    }
    p, label { color: v98 }
    &.ticket .trac-topnav {
      text-align: left
      color: v98
      font-weight: 900
    }
    &.wiki {
      h1:not(.section) {
        margin-left: 2rem
        font-size: 14px
      }
    }
  }
  #altlinks h3 {
    color: v96
  }
  div.trac-content {
    border: 0
    rad: 0
    box-shadow: none
    p, li {
      color: v97
      line-height: 1.8em
    }
    span[style="color: grey"] {
      color: v97 i
      font-style: italic i
    }
  }
  .trac-author-anonymous {
    font-style: italic
  }
  .trac-author-none {
    font-style: italic
  }
  .trac-author-user {
    font-weight: bold
    color: v67
  }
  .uinohelp {
    #help {
      display: none
    }
  }
  #help {
    clear: both
    color: v97
    font-size: 90%
    margin: 1em
    text-align: right
    &:link {
      cursor: help
    }
    &:visited {
      cursor: help
    }
    hr {
      display: none
    }
  }
  .trac-nodatetimehint {
    .trac-datetimehint {
      display: none
    }
  }
  .foldable {
    :link {
      border: 0
      box-shadow: none
      color: bg1
      text-shadow: none
      background: none
      &::before {
        content: '\23F7'
        margin-left: -1rem
      }
      &:hover {
        background-color: t
      }
    }
    :visited {
      border: none
      rad: .28em
      box-shadow: none
      color: bg1
      text-shadow: none
      &:hover {
        background-color: t
      }
    }
  }
  .collapsed {
    > .foldable {
      :link {
        background: none
        &::before {
          content: '\23F5'
          margin-left: -1rem
        }
      }
      :visited {
        background: none
        &::before {
          content: '\23F5'
          color: v85
          margin-left: -1rem
        }
      }
    }
    legend.foldable {
      background: t
    }
  }
  .expander {
    background: none i
    &::before {
      content: '\23F5'
      font-size: 130%
      color: v98
      margin-left: -1rem
      &:hover {
        color: v09 i
      }
    }
  }
  .expander.expanded {
    background: none i
    &::before {
      content: '\23F7'
      font-size: 130%
      margin-left: -.8rem
    }
  }
  #prefs {
    background: bg2
    border: 1px solid bg4
    rad: .28em
    box-shadow: none
    font-size: 85%
    margin: 0 0 2em
    input {
      font-size: 12px
      vertical-align: middle
    }
    select {
      vertical-align: middle
    }
    fieldset {
      background: t
      border: none
      box-shadow: none
      margin: .5em
      padding: 0
      legend {
        background: t
        color: v98
        font-size: 12px
        font-weight: normal
        margin: 0 0 0 -1.5em
        padding: 0
      }
      &#ignore legend {
        margin: 0 0 0 -.8em
        padding: .1rem 0 .4rem 0
      }
    }
    .buttons {
      text-align: right
    }
    &[action="#"] {
      padding: 1rem 1rem 1rem
    }
  }
  #ticketbox {
    background: bg2
    border: 1px solid bg4
    rad: .28em

    div.description h2 {
      border-bottom: 1px solid bg4
      color: fg1
    }
    > h1, > h2 {
      color: v07
    }
    table.properties {
      clear: both
      border-top: 2px solid bg5
      > tbody > tr > th {
        color: v07
        &.missing {
          color: v37
        }
      }
      > tbody > tr {
        border-bottom: 2px dotted bg5
      }
    }
    .date {
      color: v37
    }
    &.ticketdraft, /.ticketdraft {
      background: bg3
      border-color: bg4
      max-width: 96%
      margin: .8rem auto
      rad: .2em
    }
  }
  #ticketchange {
    .changes {
      margin: 2em 0 2.5em 3em
      color: v18
      border-color: bg4
      rad: .28em
      float: right
      box-shadow: none
    }
    h3 {
      &.change {
        background: bg1
        color: v08
        font-size: 110%
        padding: 5px 0 10px 15px
      }
      &:target {
        background: v02
        color: v98
        padding: 8px
        font-size: 110%
      }
    }
    .comment {
      line-height: 1.4em
      font-size: 95%
    }
  }
  #changelog {
    .changes {
      background: bg0
      border-color: bg4
      rad: .28em
      box-shadow: none
      color: v18
      float: right
      font-size: 110%
      margin: 2em 0 2.5em 3em
    }
    .change {
      background-color: bg2
      border-width: 1px
      border-style: solid
      border-color: bg4
      margin-top: 15px
      rad: .28em
      padding: 2px
      h3 {
        padding: 5px 0 10px 15px
        &.change {
          background: bg1
          color: v08
          font-size: 110%
          padding: 5px 0 10px 15px
        }
        &:target {
          background: v02
          color: v98
          padding: 8px
          font-size: 110%
        }
      }
    }
    .comment {
      line-height: 1.4em
      font-size: 95%
      ol li { color: v97}
    }
    .trac-lastedit {
      color: v96
      :link {
        color: v09
        &:hover {
          color: v08
          text-decoration: underline
        }
      }
    }
  }
  .foldable :link, .foldable :visited {
    border-color: bg4
    rad: .28em
    box-shadow: none
    color: v98
    text-shadow: none
    padding: .2em .5em .3em 20px
  }
  .report {
    #prefs {
      margin-top: -2.5rem
    }
    div.reports {
      h2 {
        padding: 0.2em .3em .1em 0
        border-bottom: 2px solid bg4
        box-shadow: none
      }
      h3 {
        em {
          color: v08
        }
        :link, :visited { color: v97 }
      }
    }
    #trac-sort-order {
      padding-top: .6em
      a.desc {
        background-image: none
        font-size: 14px
        &::after {
          content: ' \2BC6'
        }
      }
      a.asc {
        background-image: none
        font-size: 14px
        &::after {
          content: ' \2BC5'
        }
      }
    }
  }
  h2.report-result {
    background: t
    box-shadow: none
    border-bottom: 2px solid bg4
    margin: 0 0 .8em 0
    rad: 0
  }
  .tickets {
    tbody tr {
      border-color: bg4
      &:hover {
        background: bg2
        color: v97
      }
    }
    tr.trac-columns th {
      border: 1px solid bg4
      border-bottom-color: bg4
      background: bg3
      font-size: 14px
    }
    tbody tr.fullrow td,
    tbody td.fullrow {
      color: v97
      line-height: 1.4em
    }
  }
  table.tickets caption.trac-group {
    border: 0
  }
  h1, h2 {
    .numrows {
      color: v97
    }
  }
  #info {
    background: bg2
    border-color: bg4
    border-collapse: unset
    color: v98
    rad: .2em
    th {
      font-size: 100%
      padding: .8em .8em
      rad: .2em
    }
    td {
      font-size: 85%
      line-height: 1.4em
      padding: 2px .5em
      vertical-align: top
    }
    td.message {
      width: 100%
      p {
        padding: .1em .8em
      }
    }
    .message {
      ul {
        padding: 0
        margin: 0 2em
      }
      p {
        margin: 0
        padding: 0
      }
    }
    .props {
      color: v29
    }
  }
  .trac-help {
    color: v96
    font-size: 65%
    text-align: center
    margin: 1rem 0
  }
  a.trac-diff {
    &::after {
      content: '\25B3'
    }
  }
  #overview {
    color: v98
    margin-left: 1rem
  }
  #diff-legend {
    margin-left: 1rem
  }
  #file-legend {
    margin-left: -.8rem
  }
  .diff {
    margin-left: 1rem
    li.entry {
      background: bg2
      border: 1px solid bg4
      rad: .28em
      box-shadow: none
    }
    pre {
      background: var(--code-pr-bg)
      border-color: bg4
      padding-left: .5em
      color: v98
      font-size: 14px
      // unified diffs this goes out of box
      // e.g. https://svn.dd-wrt.com/attachment/ticket/5853/initialize.fw.patch
      white-space: pre-wrap
    }
    h2 {
      color: v98
      .switch {
        color: fg0
        span {
          border-left: 1px solid bg5
          &.active {
            color: v08
          }
        }
      }
    }
    table.trac-diff {
      border: 1px solid bg4
      color: v98
      thead th {
        background: bg3
        border-top: 1px solid bg4
        color: v98
      }
      th {
        border-right-color: bg4
        border-top-color: bg4
        &:hover {
          c: v99 0 bg3
        }
      }
      thead td {
        background: bg2
        border: 1px solid bg5
      }
      td {
        background: var(--code-pr-bg)
      }
      tbody.mod tr:hover td,
      tbody.add tr:hover td,
      tbody.rem tr:hover td {
        background: var(--rgba-bg2-5)
      }
      tbody.skipped td {
        background: bg2
        border: 1px solid bg4
      }

    }
    table.inline tbody {
      &.rem td.l, &.mod td.l {
        background: v10
        border-color: v12
      }
      &.mod td del {
        background: v13
        color: v99
      }
      &.mod td.r, &.add td.r {
        background: v40
        border-color: v42
      }
      &.mod td ins {
        background: v42
        color: v99
      }
      th {
        background: bg2
        color: v97
      }
      tr:hover td {
        background: bg2
      }
    }
    table.sidebyside tbody {
      &.mod td.l, &.mod td.r {
        background: v31
      }
      &.mod del, &.mod ins {
        background: v35
        color: v99
      }
    }
    dd { color: v98 }
  }
  .chglist .edit, #overview .mod {
      background: v35
      rad: .2em
    }
  .chglist .delete, #overview .rem {
    background: v15
    rad: .2em
  }
  .chglist .add, #overview .add {
    background: v45
    rad: .2em
  }
  .diff .legend {
    dt[class*] {
      height: 14px
      width: @height
      border: 1px solid bg5
      rad: .2em
    }
    dd { margin-top: .1rem }
    dt.unmod {
      background: var(--code-pr-bg)
      rad: .2em
    }
    dt.mod {
      background: v35
      rad: .2em
    }
    dt.rem {
      background: v15
      rad: .2em
    }
    dt.add {
      background: v45
      rad: .2em
    }
    dt.cp {
      background: v75
      rad: .2em
    }
  }

  pre.diff .rem {
    background: v11
  }
  pre.diff .add {
    background: v41
  }
  table {
    &.code {
      border-color: bg4
      box-shadow: none
      thead th {
        background: bg2
        border-top: 1px solid bg4
        color: v98
      }
      th {
        border-right: 1px solid bg4
        border-bottom: 1px solid bg4
        font-size: 100%
        &.blame {
          &[style*='background-color: rgb(136\, 136, 255)'] {
            c: 0 0 v78
          }
          a { color: v99 }
        }
      }
      td {
        color: v97
      }
      tbody th {
        background: v90
        color: v96
        &:hover {
          background: v91
        }
        :link {
          color: v07
          &:hover {
            color: v09
          }
        }
        :visited {
          &:hover {
            color: v75
          }
        }
      }
      tbody tr {
        &:hover td {
          background: v90
        }
      }
    }
    .trac-clause .status .inlinebuttons {
      input[type="button"] {
        background: bg4
        border-color: bg5
        height: 24px
        width: @height
        font-weight: 900
        &:hover {
          background: v06
          border-color: v06
          b: 0 0 10px 0 v04
        }
      }
    }
  }
  .wikipage {
    padding-left: 18px
    h1, h2, h3 {
      margin-left: -18px
    }
    table {
      h1, h2, h3 {
        margin-left: 0px
      }
    }
  }
  div.compact {
    > p {
      &:first-child {
        margin-top: 0
      }
      &:last-child {
        margin-bottom: 0
      }
    }
  }
  .timeline {
    h2 {
      background: bg4
      border: 1px solid bg5
      padding-bottom: .6em
      box-shadow: none
      text-shadow: 0 1px 0 bg0
      rad: .28em
    }
    dt {
      .time {
        color: v97
        &:hover {
          color: v09
        }
      }
      em { color: v47 }
      :link, :visited {
        color: v98
        padding: 0 20px 20px 27px
      }
      :link:hover, :visited:hover {
        background-color: t
        color: v09 i
      }
      .trac-author {
        color: v95
      }
      > :link, > :visited {

      }
      &.changeset {
        background-image: none i
        a {
          background-image: none i
          margin-left: -25px
          &::before {
            content: '\00B1'
            font-size: 18px
            color: v98
            padding-right: 3px
            padding-top: 7px
            font-weight: 900
          }
        }
      }
      &.closedticket {
        background-image: none i
        a {
          background-image: none i
          margin-left: -23px
          &::before {
            content: '\2714'
            font-size: 16px
            color: v47
            padding-right: 3px
            font-weight: 900
          }
        }
      }
      &.newticket, &.reopenedticket {
        a {
          background-image: none i
          margin-left: -23px
          &::before {
            content: '\2728'
            font-size: 16px
            color: v47
            margin-right: -4px
            rotation: 80deg
          }
        }
      }
    }
    dd {
      color: v97
      font-size: 90%
      margin: 0 0 auto 2.5em
    }
    dl.unread {
      border-left: .4rem solid v43
      rad: 2px
    }
  }

  #delete-confirm {
    li {
      list-style-type: square
    }
  }
  .wiki-toc {
    background: bg3
    rad: 3px
    border-color: bg4
    box-shadow: none
    font-size: .8rem
    ol {
      ol {
        padding-right: 1.2em
      }
    }
    .active {
      background: v02
      rad: .28em
      padding: 5px 0 5px 5px
      margin-left: -5px
      margin-right: -5px
      a { color: v98 }
    }
    &[style] {
      background: bg2 i
      rad: 3px i
      border-color: bg4 i
      margin-top: -8.5rem
      margin-right: -13.8rem
      margin-bottom: 9.5rem
    }
    h4.section {
      color: v98
    }
    li {
      padding-top: 3px
    }
    ul li {
      padding-top: 0
    }
  }
  a.missing {
    color: v97
    :link {
      color: v97
    }
    :visited {
      color: v97
    }
    &:hover {
      color: v98
    }
  }
  span.missing {
    color: v97
  }
  a.forbidden {
    color: v97
  }
  span.forbidden {
    color: v97
  }
  a.closed {
    :link {
      text-decoration: line-through
    }
    :visited {
      text-decoration: line-through
    }
  }
  span.closed {
    text-decoration: line-through
  }
  .important {
    background: v11
    border: 2px dashed v15
    color: v98
  }
  dl.wiki {
    dt {
      font-weight: bold
    }
  }
  dl.compact {
    dt {
      float: left
      padding-right: .5em
    }
    dd {
      margin: 0
      padding: 0
      color: v98
    }
  }
  pre.wiki {
    background: var(--code-pr-bg)
    border: 1px solid bg4
    box-shadow: none
    rad: 0.2em
    margin: 2em .75em
    padding: .55rem
  }
  pre.literal-block {
    background: var(--code-pr-bg)
    border: 1px solid bg4
    box-shadow: none
    rad: .28em
    margin: 1em 1.75em
    padding: .25em
    overflow: auto
  }
  div.wiki-code {
    margin: 1em 1.75em
  }
  code {
    color: v98
    border: 1px solid bg5
    background: var(--code-pr-bg)
    padding: 2px 5px 2px 5px
    rad: .28em
  }
  tt {
    color: v98
    border: 1px solid bg4
    rad: .25em
    padding: 0 0.3em
    background: bg2
  }
  blockquote.citation {
    margin: -0.6em 0 0 0
    border-style: solid
    border-width: 0 0 0 3px
    padding-left: .5em
    border-color: bg5
  }
  .citation {
    blockquote.citation {
      border-color: bg4
    }
    .citation {
      blockquote.citation {
        border-color: bg4
      }
      .citation {
        blockquote.citation {
          border-color: bg4
        }
      }
    }
  }
  li {
    blockquote.citation {
      margin-top: 0
    }
  }
  table.wiki {
    border: 1px solid bg4
    box-shadow: none
    rad: .2em
    border-collapse: separate
    td {
      border: 1px solid bg4
      padding: .6em .25em
      &[style="background: #eef"] {
        background: bg0 i
      }
    }
    th {
      border: 1px solid bg4
      padding: .6em .25em
      background-color: bg2
      rad: .2em
    }
    tbody {
      tr.even {
        background-color: bg0
        rad: .2em
      }
      tr.odd {
        background-color: bg1
        rad: .2em
      }
    }
  }
  hr { border-color: bg5 }
  .fullrow .wikitoolbar {
    padding-top: .5em
  }
  .wikitoolbar {
    margin-top: .2em
    border: 1px solid t
    rad: .2em
    :link {
      border: 1px solid t
      border-left-color: t
      filter: invert(.8) contrast(2) brightness(2)
      mix-blend-mode: exclusion
      transition: transition
      // fix alignment of sprite
      height: 14px
      margin-top: -.3rem
      &:hover {
        background-color: t
        border: 1px solid t
        filter: invert(.9) sepia(1) saturate(2) contrast(4)
      }
    }
    :visited {
      border: 1px solid v75
      border-left-color: @border_left_color_1
      filter: none
      &:hover {
        background-color: t
        border: 0
        filter: hue-rotate(180deg)
      }
    }
    // fix upstream missalinmnet of sprite globe/url
    a.trac-wikitoolbar-link {
      background-position: 0 -49px
    }
  }
  .trac-change-panel {
    margin-top: 1em
  }
  div.trac-grip {
    background: bg0
    border: 1px solid bg4
    rad: 0
    transition: transition
    &::after {
      content: ''
      bottom: 1px
      margin: 1px 8px
      display: block
      border-top: 2px dotted v05
    }
    &:hover {
      border-color: v03
      box-shadow: 0 0 5px 0 v04
    }
  }
  #attachments {
    > div.attachments {
      padding: 0 0 1em 1em
      > p {
        float: right
        margin: .4em 0
      }
    }
    dl.attachments {
      margin-left: 2em
      padding: 0
    }
    dt {
      color: v98
      display: list-item
      list-style: square
    }
    dd {
      font-style: italic
      margin-left: 0
      padding-left: 0
    }
    p {
      margin-left: 2em
      font-size: 90%
      color: v98
    }
  }
  .attachment {
    #preview {
      margin-top: 1em
    }
  }
  .chglist {
    td {
      color: v96
      rad: 0
      &.diff {
        padding: .3em .5em
      }
      &.author { color: v97 }
      &.rev :link {
        color: v45
      }
    }
    tr {
      rad: 0
    }
  }
  table.listing {
    border-collapse: unset
    border-bottom: 1px solid bg4
    box-shadow: none
    th:first-of-type { rad: .2em 0 0 0 }
    th:last-of-type { rad: 0 .2em 0 0 }
    thead {
      tr {
        background: bg2
        height: 2rem
      }
      th {
        border-color: bg4
        border-bottom-color: bg5
        padding: .5em .7em
        color: v97
        &:link {
          &:hover {
            background-color: t
          }
        }
        &:visited {
          &:hover {
            background-color: t
          }
        }
        a {
          border: none
          padding-right: 12px
        }
      }
    }
    th.asc {
      a {
        background-image: none
        font-size: 14px
        &::after {
          content: '\00A0\2BC5'
        }
      }
    }
    th.desc {
      a {
        background-image: none
        font-size: 14px
        &::after {
          content: '\00A0\2BC6'
        }
      }
    }
    tbody {
      td {
        border: 1px dotted bg5
        padding: .3em .5em
        vertical-align: top
        transition: transition
        a {
          &:hover {
            background-color: t
          }
        }
      }
      th {
        border: 1px dotted bg5
        padding: .3em .5em
        vertical-align: top
        a:hover {
          background-color: t
        }
      }
      tr {
        border-top: 1px solid bg5
        &:hover {
          td {
            background: bg2 i
          }
        }
      }
      tr.even, tr.color-even {
        background-color: bg0
      }
      tr.odd, tr.color-odd {
        background-color: bg1
      }
      tr.focus {
        background: v02 i
      }
    }
    pre {
      white-space: pre-wrap
    }
    &.tickets {
      td { color: v97 }
    }
  }
  .trac-loading {
    filter: invert(.9)
  }
  .threading {
    padding-top: 3px
    .trac-in-reply-to {
      padding-right: 10px
    }
  }

  table.dirlist {
    border-collapse: unset
    td span.loading {
      filter: invert(.9)
    }
    td.change, td.author, td.rev,
    td.age, td.size {
      color: v97
    }
    td.age {
      // TODO idiotic colors that are mostly the same
      /*
      &[style="border-color: rgb(136\,136,255)"] {
        c: 0 v78 0
      }
      &[style="border-color: rgb(144\,136,246)"] {
        c: 0 v79 0
      }
      &[style="border-color: rgb(245\,136,145)"] {
        c: 0 v19 0
      }
      &[style="border-color: rgb(254\,136,136)"] {
        c: 0 v18 0
      }
      &[style="border-color: rgb(251\,136,139)"] {
        c: 0 v17 0
      }
      &[style="border-color: rgb(250\,136,140);"] {
        c: 0 v16 0
      }
      */
    }
    td.name {
      a.dir {
        background: t
        margin-left: -30px
        &::before {
          content: '\1F4C2'
          font-size: 18px
        }
      }
      a.file {
        background: t
        margin-left: -22px
        &::before {
          content: '\1F4C4'
          font-size: 16px
          padding-right: 1px
        }
      }
      a.parent {
        background: t
        margin-left: -22px
        &::before {
          content: '\2BA4'
          font-size: 20px
          font-weight: 900
          color: v97
        }
      }
    }
    td.rev {
        a.chgset {
        background: none
        &::before {
          content: '\00B1'
          font-size: 18px
          font-weight: 900
          color: v98
          margin-right: -4px
        }
      }
    }
  }
  #fieldhist {
    td {
      padding: 0 .5em
    }
    td.date {
      white-space: nowrap
    }
    td.diff {
      white-space: nowrap
    }
    td.version {
      white-space: nowrap
      text-align: center
    }
    td.author {
      white-space: nowrap
    }
    td.comment {
      width: 100%
    }
    .inlinebuttons {
      display: none
      float: right
    }
  }
  .suggestions {
    background: bg0
    border: 1px solid bg4
    color: bg1
    ul {
      font-family: $font_family_3
      max-height: 20em
      min-height: 3em
      list-style: none
      margin: 0
      overflow: auto
      padding: 0
      width: 440px
    }
    li {
      background: bg0
      cursor: pointer
      padding: 2px 5px
    }
    li.selected {
      background: t
      color: v08
    }
  }
  #content.error {
    .message {
      background: v11
      border: 2px solid v15
      color: v98
      padding: .5em
      margin: 1em 0
    }
    div.message {
      pre {
        margin-left: 1em
        overflow: hidden
        white-space: pre-wrap
      }
    }
    form.newticket {
      display: inline
      textarea {
        display: none
      }
    }
    #traceback {
      margin-left: 1em
      :link {
        border: none
        var {
          font-family: $font_family_4
        }
      }
      :visited {
        border: none
        var {
          font-family: $font_family_4
          font-style: normal
          font-weight: bold
        }
      }
      div {
        margin-left: 1em
      }
      h3 {
        font-size: 95%
        margin: .5em 0 0
      }
      span.file {
        color: v98
        font-size: 85%
      }
      ul {
        list-style: none
        margin: .5em 0
        padding: 0
      }
      table {
        margin: .5em 0 1em
        &.code {
          td {
            white-space: pre
            font-size: 90%
          }
          tr.current {
            td {
              background: bg1
            }
          }
        }
      }
      th {
        font-size: 85%
        padding: 1px
        var {
          font-family: $font_family_4
          font-style: normal
        }
      }
      td {
        font-size: 85%
        padding: 1px
        code {
          white-space: pre
        }
      }
      pre {
        font-size: 95%
      }
    }
    #tbtoggle {
      font-size: 80%
    }
  }
  #description li {
      color: v98
  }
  div.system-message {
    color: v98
    padding: .8em
    margin: 1rem auto
    max-width: 900px
    box-shadow: none
    pre {
      margin-left: 1em
      overflow: hidden
      white-space: pre-wrap
    }
    .trac-close-msg {
      background: v05
      color: v98
      border: 1px solid v06
      font-size: 14px
      margin: -.1rem -.1em .1em 1em
      padding: 0 .8em 0
      height: 1.4em
      text-shadow: 0 1px 0 bg0
      rad: .28em
      &:hover {
        background: v08
        color: v99
        text-shadow: 0 1px 0 bg0
        box-shadow: 0 0 10px v04
      }
    }
  }
  span.system-message {
    float: left
    background: v11
    padding: .2em
    margin: 1px
    rad: .25em
  }
  #warning.system-message {
    background: v11
    border: 1px solid v15
    rad: .2em
    li {
      list-style-type: square
    }
  }
  .warning.system-message {
    background: v31
    border: 1px solid v34
  }
  #notice.system-message {
    background: v41
    border: 1px solid v44
    li {
      list-style-type: square
    }
  }
  .notice.system-message {
    background: v41
    border: 1px solid v44
  }
  #content.about {
    a.logo {
      &#trac-logo {
        filter: invert(.9) hue-rotate(180deg) saturate(5)
        mix-blend-mode: lighten
      }
      &#python-logo {
        filter: invert(.9) hue-rotate(180deg)
        mix-blend-mode: lighten
      }
    }
    p.copyright {
      color: v97
    }
  }
  #environmentinfo {
    h2 {
      margin-top: 2em
    }
    table {
      margin: 1em
      width: auto
      th {
        border: 1px solid bg4
        font-size: 90%
        background: bg2
        font-weight: bold
        white-space: nowrap
      }
      td {
        border: 1px solid bg0
        font-size: 90%
      }
      td.file {
        color: v98
      }
      tr.disabled {
        th {
          color: v97
        }
        td {
          color: v97
        }
      }
    }
    #config {
      th {
        padding: 3px
      }
      tr.modified {
        background: v31
      }
      td.doc {
        padding: 3px 1em
      }
    }
  }
  .trac-placeholder {
    background: v95
  }
  .trac-autofocus {
    outline: none
    box-shadow: 0 0 4px 0 var(--box-shadow)
  }
  @media screen {
    a.ext-link {
      .icon {
        background: url(../extlink.gif) left center no-repeat
        padding-left: 15px
      }
    }
    a.mail-link {
      .icon {
        background: url(../envelope.png) left center no-repeat
        padding-left: 16px
      }
    }
    a.trac-rawlink {
      background: url('../download.png') right center no-repeat
      padding-right: 16px
      border-bottom: none
    }
    a.trac-ziplink {
      background: url('../download.png') right center no-repeat
      padding-right: 16px
      border-bottom: none
    }
    .searchword0 {
      background: v32
      color: v98
    }
    .searchword1 {
      background: v42
      color: v98
    }
    .searchword2 {
      background: v62
      color: v98
    }
    .searchword3 {
      background: v72
      color: v98
    }
    .searchword4 {
      background: v82
      color: v98
    }
  }
  @media print {
    :link, :visited {
      border-bottom: none
    }
    div.trac-content {
      box-shadow: none
    }
    .foldable {
      &:link {
        text-shadow: none
        box-shadow: none
      }
      &:visited {
        text-shadow: none
        box-shadow: none
      }
    }
  }
  div.code {
    background: t
    border-color: bg4
    box-shadow: none
    color: v90
    rad: .2em
    pre {
      border-color: bg4
      rad: .2em
    }
  }
  #anydiff input {
    margin: 0 -.5em 0 0
  }
  .image-file {
    background: bg2
    rad: 0 0 .2em .2em
    img { background: var(--rgba-bg2-1) }
  }
  // Better checkbox/radio inputs.
  input {
    prefix  = 'data:image/svg+xml;utf8,'
    prefix += '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">'
    &[type='radio'],
    &[type='checkbox'] {
      &, &:focus, &:hover:active {
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        cursor: pointer
        height: b_hgwd
        width: b_hgwd
        border: 1px solid bg5
        background-size: cover
        transition: transition
        c: v08 0 bg1
      }
      &:disabled, &:hover:active:disabled, &:disabled:hover {
        c: v94 bg5 bg4
        cursor: default
      }
    }

    &[type='radio'] {
      rad: 50%
      padding: 7px
      &:checked {
        path = '<circle cx="256" cy="256" r="128" fill="' + to_svg($v99) + '"/>'
        background-image: s("url('%s%s</svg>') %s", rq(prefix), rq(path), i)
        c: 0 v08 v06
      }
      &:focus, &:hover { c: 0 v06 v04; b: 0 0 10px 0 v04 }
    }

    &[type='checkbox'] {
      rad: .2em
      &:checked {
        path ='<path fill="' + to_svg($v99) + '" d="M99 213l-1 89 104 102 205-201v-91L203 315 99 213z"/>'
        background-image: s("url('%s%s</svg>') %s", rq(prefix), rq(path), i)
        c: 0 v08 v06
        rad: .2em
      }
      &:focus, &:hover { c: 0 v06 v04; b: 0 0 10px 0 v04 }
      &:indeterminate {
        path = '<rect x="128" y="128" width="256" height="256" fill="' + to_svg($v99) + '"/>'
        background-image: s("url('%s%s</svg>') %s", rq(prefix), rq(path), i)
        c: 0 v08 v09
        &:hover { c: 0 v06 v04 }
      }
    }

    &[type='file'] {
      &::file-selector-button {
        background-color: bg5
        border: 2px solid bg5
        color: v98
        box-shadow: 0 1px 0 bg0
        text-shadow: 0 1px 0 bg0
        rad: .28em
        padding: .1rem .4rem
        cursor: pointer
        transition: transition
        &:hover {
          background-color: v08
          border: 2px solid v08
          color: v98
          b: 0 0 10px 0 v04
        }
      }
      &::-webkit-file-upload-button {
        background-color: bg5
        border: 2px solid bg5
        color: v98
        box-shadow: 0 1px 0 bg0
        text-shadow: 0 1px 0 bg0
        rad: .28em
        padding: .1rem .4rem
        cursor: pointer
        transition: transition
        &:hover {
          background-color: v08
          border: 2px solid v08
          color: v98
          b: 0 0 10px 0 v04
        }
      }
    }
    &[type='submit'] {
      background: v06
      border: 1px solid v04
      color: v98
      box-shadow: none
      padding: .25rem .8rem .35rem .8rem
      rad: .28em
      text-shadow: 0 1px 0 bg0
      &:hover {
        background: v08
        border: 1px solid v08
        color: v99
        b: 0 0 10px 0 v04
      }
      &[value="Login"] {
        margin-top: 1rem
      }
      &[disabled], &[disabled]:hover {
        background: bg2
        border-color: bg3
        color: v94
        cursor: unset
        box-shadow: none
      }
      &:hover {
        background-color: v06
        border: 1px solid v08
        color: v99
        b: 0 0 10px 0 v04
        text-shadow: 0 1px 0 bg0
      }
      &#attachfilebutton {
        margin-left: -.8rem
      }
    }
    &[type='text'], &[type="password"] {
      background-color: bg0
      border: 1px solid bg4
      color: v98
      box-shadow: none
      padding: .25rem .8rem .25rem .2rem
      rad: .28em
      transition: transition
      &:focus, &:focus-within, &:focus-visible {
        c: 0 v08 bg1
        b: 0 0 10px 0 v04
        outline: 0
      }
      &:hover {
        border: 1px solid v08
      }
    }
  }

  // Better select element styles.
  /select {
    & {
      background: bg0
      // Override default colors.
      border: 1px solid bg4
      color: v98
      transition: transition
      &:not([disabled]) {
        c: 0 0 bg0
        padding: .243333rem .2rem
        &:hover { c: 0 v08 bg3 }
        &:active { c: 0 0 bg4 }
      }
      option {
        &[selected] {
          background: v05
        }
        &:hover { background-color: v02 }
        &:checked {
          background-color: v05 i
          box-shadow: 0 0 10px 100px v06 inset
        }
      }
    }
    &[disabled] {
      background: bg2
    }
  }
}
